
<% include ./HeaderFooter/header.ejs %>

<style>
.itemtitle{
    font-size:20px;
}

.item{
    font-size:30px;
    font-weight:600;
}

</style>

    <section>
        <article>
            <div class="container" style="border-top:1px solid #646464;margin-top:50px">
                <div class="row" style="padding-top:30px;">
                    <div class="col-lg" style="border:1px solid #646464" >
                        <img src="static_image/goods/<%=serverData._goodsthumbnail%>" style="margin:30px;width:90%;height:400px">
                    </div>
                    <div class="col-lg">
                        <p style="padding-left:50px; padding-top:40px;">
                            <span class="itemtitle">상품명&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;</span> <span class="item"><%=serverData._goodsname%></span><br><br>
                            <span class="itemtitle">가격&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;</span> <span class="item"><%=serverData._goodsprice%>BP</span><br>
                            <form method="POST" action="/order" id="orderform" style="padding-left:50px">
                                <span class="itemtitle">수량&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <input type="number" class="form-control" value="1" name="ordergoodsquantity" id="ordergoodsquantity" style="width:90px;display:inline"><br><br>
                                    <input type="hidden" name ="orderid" value="<%=userInfo._id%>">
                                    <input type="hidden" name ="ordergoodsnum" value="<%=serverData._goodsnum%>">
                                    <input type="hidden" name ="ordergoodsname" value="<%=serverData._goodsname%>">
                                    <input type="hidden" name ="ordergoodsgoodspaymentprice" value="<%=serverData._goodsprice%>">
                                    <input type="hidden" name ="ordergoodsthumbnail" value="<%=serverData._goodsthumbnail%>">
                                <button type="button" class="btn btn-dark" style="width:300px" onclick="javascript:ordersubmit()">구매하기</button>                                
                            </form><br>

<%
    if(userInfo._id==="admin"){
%>

                            <div style="padding-left:50px">
                            <a href="/updategoodsform/<%=serverData._goodsnum%>" class="btn btn-primary" style="width:300px">상품수정</a>
                            

                            <form method="POST" action="/goods/<%=serverData._goodsnum%>?_method=DELETE" id="deletegoods" style="display:inline">
                                <button type="button" onclick="javascript:deletesubmit()" class="btn btn-danger">상품삭제</button>
                            </form>
                            </div>
<%
    }
%>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="background:#99CC99;margin-top:30px;margin-bottom:30px;padding-top:10px;padding-bottom:10px; border-top:3px solid black;border-bottom:3px solid black" align="center">
                        <span style="font-weight:500;font-size:20px">상 품 설 명<span>
                    </div>
                </div>

                <div class="row">
                    <div class="col" align="center" style="margin-bottom:30px">
                        <img src="static_image/goods/<%=serverData._goodsinfoimage%>"
                    </div>
                </div>
            </div>
        </article>
    </section>

<script type="text/javascript">
    function deletesubmit(){
        var deleteok=confirm("상품을 정말 삭제하시겠습니까?");
        if(deleteok===true){
            $("#deletegoods").submit();
        }
    }

    function ordersubmit(){
        if("<%=userInfo._id%>"===""){
            alert("로그인후 이용해 주세요");
            return;
        }

        var ordergoodsquantity=$("#ordergoodsquantity").val()
        if(ordergoodsquantity===""||ordergoodsquantity<="0"){
            alert("1이상의 값을 입력해주세요");
            return;
        }

        $("#orderform").submit();
    }
</script>

<% include ./HeaderFooter/footer.ejs %>